@model Liquidacion
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Formulario</h1>
<form method="post" asp-action="Delete">
    <input type="hidden" form="id" />


    <label>Nombre Empleado</label>
    <input asp-for="NombreEmpleado" />
    <br />
    <label>Periodo De Cesantia</label>
    <input asp-for="periodoCesa" />
    <br />
    <label>Periodo Prima Ser.</label>
    <input asp-for="periodoPri" />
    <br />
    <label>Perido De Vacaciones</label>
    <input asp-for="periodoVaca" />
    <br />
    <label>Salario Base </label>
    <input asp-for="salarioBase" />
    <br />
    <label>Auxilio De Transporte </label>
    <input asp-for="auxilioTrans" />
    <br />
    <label>Tipo De Contrato </label>
    <input asp-for="tipoContrato" />
    <br />
    <input type="submit" value="Eliminar" />
   </form>

